.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.nav-section {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.441);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;
  height: 100px;
  .nav-bar {
    display: flex;
    padding: 18px 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    .nav-logo {
      height: 60px;
    }
    .links-container {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin-top: 10px;
      li {}
      .link {
        text-decoration: none;
        padding: 15px;
        color: #777;
        line-height: 25px;
        font-weight: 600;
        &.active {
          color: #222;
        }
      }
    }
  }
}

#home,
.home-hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  .header-text-container {
    position: absolute;
    top: 360px;
    color: white;
    font-family: arial, "Open sans", Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.334);
    height: 130px;
    width: 1000px;
    /* border-radius: 20px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header-text {
    font-size: 46px;
  }
  .sub-text {
    text-align: center;
    max-width: 700px;
  }
}

.team-section {
  h6 {
    font-size: 16px;
    color: #003366;
  }
  .team-container {}
  .members-section {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .member {
    padding: 0 15px;
    a {
      text-decoration: none;
      color: black;
    }
    p {
      margin-top: 6px;
      font-weight: 500;
    }
  }
  .past-capital-container {}
  .major-past-exits {
    margin-bottom: 30px;
  }
}

.content-section {
  display: flex;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  text-align: left;
  gap: 30px;
  .text-content {
    width: 50%;
  }
  .main-text {
    font-weight: 400;
    color: #222;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .main-bold-text {
    color: #053a6d;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    line-height: 1.5;
  }
  .image-content {
    height: auto;
    width: 50%;
    padding: 0 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content-section.contact {
  margin-top: 0;
  margin-bottom: 0;
  padding: 65px 0;
  color: white;
  .contact-left {
    width: 50%;
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      color: #bed7db;
      margin-bottom: 27px;
    }
    p {
      margin-top: 17px;
      font-size: 18px;
      line-height: 1.5;
      color: #dfdfb6;
    }
    ul {
      text-align: left;
      padding-inline-start: 20px;
    }
  }
  .contact-right {
    width: 50%;
  }
}



.services-section {
  /* margin-top: 100px; */
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-content {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-text-box-container {
  gap: 30px;
  display: flex;
  color: white;
  width: 1170px;
  justify-content: center;
  align-items: center;
}

.text-box {
  h2 {
    font-size: 30px;
    color: #ccffff;
    text-shadow: 2px 2px #000;
  }
  h4 {
    color: #fff;
    font-size: 22px;
    margin: 30px 0;
    text-shadow: 3px 3px #000;
  }
  p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
  }
}

.modular-hero-section {
  display: block;
  width: 800px;
  color: white;
  position: absolute;
  top: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.536);
  border: 10px solid rgb(235, 235, 235);
  padding: 35px;
  .text-box {
    font-size: 24px;
    text-align: left;
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
      font-weight: 700;
      /* line-height: 18px; */
    }
  }
}

.footer-section {
  background: #05335b;
  height: 460px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .footer-hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #05335b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 460px;
    h2 {
      font-family: open sans, arial;
      /* text-shadow: 2px 2px #000; */
      font-size: 30px;
      color: #fff;
      font-weight: 600;
    }
    h3 {
      /* text-shadow: 2px 2px #000; */
      font-family: oswald, open sans, arial;
      font-size: 26px;
      color: #fff;
      font-weight: 700;
    }
  }
  .contact-us-container {
    .contact-us-btn {
      margin-top: 20px;
    }
  }
  .copy-right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  .copy-right-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  #footer-links {
    .links {
      text-decoration-line: none;
      color: white;
    }
    list-style-type: none;
    /* Removes bullet points */
    margin: 0;
    padding: 0;
    display: inline-block;
    /* Centers the list within the footer */
  }
  #footer-links li {
    display: inline;
    /* Makes list items horizontal */
    color: white;
    padding: 0 10px;
    /* Adds space around the text */
  }
  .footer-links li:not(:first-child)::before {
    content: "|";
    padding-right: 10px;
    /* Space between the bar and the text */
    color: white;
    /* A lighter color for the separator */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}