.App {
  text-align: center;
}

.nav-section {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  .nav-bar {
    display: flex;
    padding: 18px 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    .nav-logo {
      height: 60px;
    }
    .links-container {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin-top: 10px;
      li {}
      .link {
        text-decoration: none;
        padding: 15px;
        color: #777;
        line-height: 25px;
        font-weight: 600;
        &.active {
          color: #222;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}